#root{
    display: flex;
    flex-direction: column ;
    flex-wrap: nowrap;
    flex-basis: auto;

}

h3{
    text-align: center;
}

div{
    text-align: center;
}

button{
    position: relative;
}